header {
    background-color : #000;
    color : #fff; 
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column; 
    border: 4px black;
}

.wrapper #menu {
    align-self: flex-end;
}

.about-me {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

li{
    display: inline; 
    margin-right: 10px;
}

#hero {
    height: 600px;
    background-image: url(/images/hands-typing.jpg);
    background-size: 100%;
    background-position: center;
    filter: grayscale(70%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero h1{
    max-width: 60%;
    background-color: rgba(0,0,0,0.5);
    color: #fff; 
    text-shadow: 1px 1px 4px black;
}

.grid1{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#services{
    background-color: #fafafa;
    align-items: center;
}

.grid2{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    text-align: left;
    border: 2px solid #fafafa;
}

#work h2, #work p{
    text-align: center;
}

.btn{
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    text-decoration: none;
    text-align: left;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

 
.grid3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: max-content max-content;
    column-gap: 0px;
    padding: 20px;
}

.grid3 img:nth-child(1){
    grid-area: 1 / 1 / span 1 / span 3
}
.grid3 img:nth-child(2){
    grid-area: 1 / 4 / span 1 / span 2
}

.grid3 img:nth-child(3){
    grid-area: 2 / 1 / span 1 / span 2
}

.grid3 img:nth-child(4){
    grid-area: 2 / 3 / span 1 / span 2
}

.grid3 img:nth-child(5){
    grid-area: 2 / 5 / span 1 / span 1
}

footer{
    height: 30px;
    background-color: #000;
color: #fff; 
    text-align: center;
}  